#profile-update-form input::placeholder {
    color: #888080;
}

#profile-update-form .form-control {
    color: #000000!important;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #888080;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}


