{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9 col-md-8 my-auto">
            <h1 class="display-4 logo-font text-black">
                London Twickenham tickets just released!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse site</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}

