{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock%}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <h3 class="scroll-text">
        <span> Belfast 02 tickets now on pre sale for Gold site members&emsp;&emsp;&emsp; </span> 
        <span> The Colour and the Shape now available on vinyl&emsp;&emsp;&emsp; </span>
        <span> New caps added to the merch collection&emsp;&emsp;&emsp;&emsp;&emsp; </span>
        </h3>
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                London Twickenham tickets just released!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse site</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}