html {
    height: 100%;
}

.main-body {
    font-family: 'Roboto'; /* Taken from Google Fonts to replicate as close to the font used by The Foo Fighters - Futura */
    text-transform: uppercase;
}

body {
    height: calc(100vh - 250px);
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('/media/main_image_2.webp') no-repeat center fixed;
    background-size: cover;
    opacity: .4;
    content: "";
    z-index: -1;
}
 
h1.logo-font {
    line-height: 85%;
}


.scroll-text {
    position: relative;
    overflow: show;
    white-space: nowrap;
}


h3.scroll-text {
    position: absolute;
    color: black;
    margin: 0;
    text-align: center;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-text 10s linear infinite;
    -webkit-animation: scroll-text 10s linear infinite;
    animation: scroll-text 10s linear infinite;
}


@-moz-keyframes scroll-text {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-text {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-text {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 
 transform: translateX(-100%); 
 }
}



/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}


.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}