.scroll-text {
    position: relative;
    overflow: show;
    white-space: nowrap;
}


div.scroll-text {
    position: absolute;
    color: black;
    margin: 0;
    min-width: auto;
    text-align: center;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-text 10s linear infinite;
    -webkit-animation: scroll-text 10s linear infinite;
    animation: scroll-text 10s linear infinite;
}


@-moz-keyframes scroll-text {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-text {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-text {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */

 -webkit-transform: translateX(100%); /* Firefox bug fix */

 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */

 -webkit-transform: translateX(-100%); /* Firefox bug fix */

 transform: translateX(-100%); 
 }
}