<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-link-text" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?category=tee_shirts,hoodies,caps,cd,delux_cd,vinyl," class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-link-text" href="#" id="merch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="merch-link">
                <a href="{% url 'products' %}?category=tee_shirts" class="dropdown-item">Tee Shirts</a>
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=caps" class="dropdown-item">Caps</a>
                <a href="{% url 'products' %}?category=tee_shirts,hoodies,caps" class="dropdown-item">All Merch</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-link-text" href="#" id="albums-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Albums
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="albums-link">
                <a href="{% url 'products' %}?category=cd" class="dropdown-item">CDs</a>
                <a href="{% url 'products' %}?category=delux_cd" class="dropdown-item">Deluxe CDs</a>
                <a href="{% url 'products' %}?category=vinyl" class="dropdown-item">Vinyl</a>
                <a href="{% url 'products' %}?category=cd,delux_cd,vinyl" class="dropdown-item">All Albums</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black nav-link-text" href="#" id="tickets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tickets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tickets-link">
                <a href="{% url 'products' %}?category=Tickets" class="dropdown-item">All Tickets</a>
            </div>
        </li>
    </ul>
</div>